/*!
 * Author: Akash Bhadange
 */

 body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(79,67,96);
  background: linear-gradient(90deg, rgba(79,67,96,1) 20%, rgba(130,109,30,1) 80%);
  overflow: hidden; 
  /*background-color: #f2f2f2;*/
  font-size: 16px;
  color: #d6d6d6;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.center{
	margin: auto;
	width: 50%;
	padding: 15px;
	text-align: center;
}

.right {
	position: absolute;
	right: 100px;
	padding: 10px;
	text-align: center;
}

.left {
	position: absolute;
	left: 100px;
	padding: 10px;
	text-align: center;
}

.goldenFreddy{
	transform: rotate(10deg);
	
	width: 600px;
	height: 600px;
	
	filter: drop-shadow(10px 10px 20px black);
	
	position: absolute; bottom: -100px; right: -100px;
	
	-webkit-animation: wobble 2s ease-in-out infinite;
}

@-webkit-keyframes wobble{
	0%, 100% {
		bottom: -100px;
	}
	50% {
		bottom: -90px;
	}
}

@-webkit-keyframes wobbleBonnie{
	0%, 100% {
		bottom: -435px;
	}
	50% {
		bottom: -445px;
	}
}

.witheredBonnie{
	transform: rotate(5deg);
	
	width: 573px;
	height: 1005px;
	
	filter: drop-shadow(10px 10px 20px black);
	
	position: absolute; bottom: -455px; left:-100px;
	
	-webkit-animation: wobbleBonnie 2s ease-in-out infinite;
}